.profile-view {
  $self: #{&};
  text-align: center;
  &__card {
    width: 250px;
    height: 200px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05) !important;;
    &__layout {
      display: flex;
      flex-direction: column;
      align-items: center !important;
    }
  }
}