@font-face {
  font-family: 'NanumH';
  src: url('~@/assets/fonts/NanumSquareNeo-eHv.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumEb';
  src: url('~@/assets/fonts/NanumSquareNeo-dEb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumR';
  src: url('~@/assets/fonts/NanumSquareNeo-bRg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
