.login-view {
  $self: #{&};
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../../assets/img/common/background.png') !important;
  background-size: 100% !important;

  &__container {
    height: 100vh;
    max-height: calc(100vh - 450px);
    display: flex;
    justify-content: center;
    align-items: center;

    &-btn {
      font-size: 13.5px !important;
      font-family: 'NanumBd', sans-serif;
    }
  }
}