.register-view {
  $self: #{&};
  width: 100%;
  flex-direction: column;
  justify-content: center;
  &__container{
    justify-content: center;
    &-btn {
      font-size: 13.5px !important;
      font-family: 'NanumBd', sans-serif;
    }
    &-select-box {
      font-family: 'NanumR', sans-serif;
      [class*='v-input__details']{
        display: none;
      }
      [class*='v-icon']{
        color: #684AFF !important;
      }
    }
  }
}