.login-view {
  $self: #{&};
  width: 100%;
  flex-direction: column;
  justify-content: center;

  &__container {
    height: 100vh;
    max-height: calc(100vh - 450px);
    display: flex;
    justify-content: center;
    align-items: center;

    &__card {
      width: 500px;
      height: 350px;
      border-radius: 10px;

      &-title {
        font-size: 23px !important;
        font-family: 'NanumEb', sans-serif;
        text-align: center;
        padding: 20px 0 20px 0 !important;
        background-color: #E0DBFF;
        color: #FFFFFF;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
      }
      &-text-container {
        padding-top: 30px !important;
        &-text-field {
          font-family: 'NanumR', sans-serif;
          margin-right: 10px;
          width: 410px !important;

          [class*='v-input__details'] {
            display: none;
          }

          [class*='v-icon'] {
            color: #684AFF !important;
          }
        }
        &-btn {
          font-size: 13.5px !important;
          font-family: 'NanumBd', sans-serif;
        }
      }
    }
  }
}